body {
  font-family: 'ZCOOL XiaoWei', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


//general styling

//main is used to create the same background for login, register, error 404, viewprofile, createprofile
main {
  width: 100%;
  height: 80vh;
  background-image: url("https://wallpapercave.com/wp/junYN7V.png");
  background-size: cover;
  display: flex;
}

// HEADER STYLING

header {
  background-color: #C24D2C;
  color: #1A2639;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .contains-loggedin {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .userloggedin {
      margin: 20px;
      align-self: center;
      a {
        text-decoration: none;
        color: #1F4E5F;
        a:hover {
        text-decoration: underline;
        }
      }
    }
    .avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      align-self: center;
      margin: 20px;
    }
  }
  .navbar {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    margin-right: 50px;
    a {
      text-decoration: none;
      text-shadow: 0.5px 0.5px 0.5px #404040;
      color: #1A2639;
    }
    a:hover {
      text-decoration: underline;
      color: #1A2639;
    }
  }
  .contains-titleLogo {
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img {
      height: 125px;
      width: 125px;
    }
    h1 {
      padding: 20px 20px 20px 70px;
      font-size: 40px;
      text-shadow:  2px 2px 1px #404040;
    }
  }
}
  //FOOTER STYLING
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #C24D2C;
    color: #1A2639;
    width: 100%;
  }

  //LOG IN STYLING
  .contains-loginForm, .contains-registerForm {
  align-self: center;
  background-color: rgba(50, 50, 50, 0.7);
  display: flex;
  margin: auto;
  height: 300px;
  width: 400px;
  flex-direction: column;
  border: 4px solid #C24D2C;
  border-radius: 5px;
  .registerInput {
    box-shadow: 2 2 2 white;
    height: 20px;
    width: 180px;
    margin: 10px;
  }
  p {
    color: whitesmoke;
    text-align: center;
    a {
      text-decoration: none;
      color: whitesmoke;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .loginForm, .registerForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .loginFormInput, {
      height: 20px;
      width: 180px;
      margin: 15px;

    }
  }
}
// ERROR HANDLING
.tinyError {
  font-size: 110%;
  color: red;
}

.error {
    box-shadow:0 0 10px red;
}

//NEWS AND SEARCH
.homeChange {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  width: 10%;
  background-color: rgba(50, 50, 50, 0.9);
  h1 {
    color: whitesmoke;
    text-shadow:  1px 1px 1px black ;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    padding: auto;
  }
}

.contains-news-gameSearch {
  align-self: flex-start;
  width: 95%;
  .contains-news {
    border-bottom: 1px dashed #C24D2C;
    background-color: rgba(50, 50, 50, 0.7);
    display: flex;
    flex-direction: row;
    height: 40vh;
    overflow-x: scroll;
    .newscard {
      font-family: inherit;
      min-width: 500px;
      height: 30vh;
      margin: auto;
      padding: 10px;
      text-align: center;
      border-left: 1px dashed #C24D2C;
      h2, a, p {
        text-decoration: none;
        color: whitesmoke;
        margin: 0;
        padding: 20px;
      }
      img {
        float: right;
        width: 200px;
        height: 150px;
      }
    }
    h1 {
      color: whitesmoke;
      text-align: center;
    }
  }
  .main-gameSearch {
    display: flex;
    justify-content: center;
    background-color: rgba(50, 50, 70, 0.7);
    width: 100%;
    height: 40vh;
    .contains-gameSearch {
      max-width: 30%;
      align-self: center;
      justify-content: center;
      button {
        margin: 20px 40%;;
      }
      h2 {
        margin: 20px;
        color: whitesmoke;
      }
    }
  }
}
.embeddedVideos {
  height: 100%;
  iframe {
    display: flex;
    align-self: center;
    height: 100%;
    margin: 0 10px;
    border-left: 1px dashed #C24D2C;
  }
}



//profile pages
.contains-createProfile {
  background-color: rgba(50, 50, 70, 0.7);
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .userDetails {
    height: 80%;
    width: 20%;
    img {
      width: 200px;
      height: 200px;
    }
  }
  .chooseGame {
    height: 80%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    h2 {
      text-align: center;
      color: whitesmoke;
    }
    .chooseMyGames {
      margin: 20px;
    }
    .mygames {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      overflow-y: scroll;
      margin: 0 auto;
      div {
        height: 160px;
        width: 100px;
        margin: 10px;
      }
    }
  }
  .comments-complete {
    height: 80%;
    width: 20%;

    button {
      border-radius: 10px;
      margin: 10px auto;
      height: 30px;
      width: 80%;

    }
    h3 {
      color: whitesmoke;
      text-align: left;

    }
    .comments {
      align-self: center;
      height: 70%;
      background-color: whitesmoke;
    }
  }
}

.contains-gameForum {
  background-color: rgba(50, 50, 70, 0.7);
  height: 80vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  .gameForum-left {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: whitesmoke;
    .contains-gameInfo {
      height: 50%;
      display: flex;
      flex-direction: row;
      .gameDetails {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
      }
      .gameCover img {
        align-self: center;
        height: 240px;
        width: 150px;
      }
    }
    .contains-ratings {
      height: 25%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .yourRating, .ourRating {
        border: 2px solid whitesmoke;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        color: whitesmoke;
        text-align: center;

      }
    }
    .contains-screenshots {
      display: flex;
      flex-direction: row;
      height: 25%;
      width: 100%;
      border: 2px solid whitesmoke;
      img {
        width: 100%;
      }
    }

  }
  .gameForum-right {
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: whitesmoke;
    .starsRating {
      .checked {
        color: orange;
      }
    }
    .addcomment {
      height: 50%;
      display: flex;
      flex-direction: column;
      button {
        width: 50%;
        margin: 0 auto;
      }
      input {
        height: 40%;
        margin-bottom: 10%;
      }
    }
    .commentsfeed {
      height: 50%;
      border: 2px solid whitesmoke;
    }

  }

}

.messages {
  span {
    color: white;
  }
}

.chatBox {
  display: flex;
  flex-direction: column;
}

.contains-registerForm {
  span {
    color: #C24D2C;
  }
}
.contains-loginForm{
  span {
    color: #C24D2C;
  }
}

.gameDetails {
  display: flex;
    p {
    width: 600px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
    max-width: 80%;
    align-self: center;
  }
}
