body {
  font-family: 'ZCOOL XiaoWei', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


//general styling

//main is used to create the same background for login, register, error 404, viewprofile, createprofile
main {
  width: 100%;
  height: 80vh;
  background-image: url("https://wallpapercave.com/wp/junYN7V.png");
  background-size: cover;
  display: flex;
}

// HEADER STYLING

header {
  background-color: rgba(30, 50, 50, 0.9);
  color: papayawhip;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .contains-loggedin {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .userloggedin {
      margin: 20px;
      align-self: center;
      a {
        text-decoration: none;
        color: inherit;
        a:hover {
        text-decoration: underline;
        }
      }
    }
    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      align-self: center;
      margin: 20px;
    }
  }
  .navbar {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    margin-right: 50px;
    a {
      text-decoration: none;
      color: papayawhip;
    }
    a:hover {
      text-decoration: underline;
      color: papayawhip;
    }
  }
  .contains-titleLogo {
    width: 70%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      height: 90px;
      width: 120px;
      border-radius: 50%;
      padding: 20px;
    }
    h1 {
      padding: 20px 20px 20px 70px;
      font-size: 40px;
    }
  }
}
  //FOOTER STYLING
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: rgba(30, 50, 50, 0.9);
    color: papayawhip;
    width: 100%;
  }

  //LOG IN STYLING
  .contains-loginForm, .contains-registerForm {
  align-self: center;
  background-color: rgba(50, 50, 50, 0.7);
  display: flex;
  margin: auto;
  height: 300px;
  width: 400px;
  flex-direction: column;
  border: 4px solid rgb(30, 50, 50);
  .registerInput {
    height: 20px;
    width: 180px;
    margin: 10px;
  }
  p {
    color: papayawhip;
    text-align: center;
    a {
      text-decoration: none;
      color: papayawhip;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .loginForm, .registerForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .loginFormInput, {
      height: 20px;
      width: 180px;
      margin: 15px;

    }
  }
}
// ERROR HANDLING
.tinyError {
  font-size: 110%;
  color: red;
}

.error {
    box-shadow:0 0 10px red;
}

//NEWS AND SEARCH
.homeChange {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: flex-end;
  width: 10%;
  background-color: rgba(50, 50, 50, 0.9);
  h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    padding: auto;
  }
}

.contains-news-gameSearch {
  align-self: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 95%;
  .contains-news {
    border-top: 2px dashed papayawhip;
    margin: 0;
    display: flex;
    width: 100%;
    align-self: flex-start;
    background-color: rgba(50, 50, 50, 0.7);
    height: 40vh;
    overflow-y: scroll;
    .newscard {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      width: 300px;
      height: 40vh;
      h4, a {
        margin: 0;
        padding: 0;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .main-gameSearch {
    display: flex;
    justify-content: center;
    background-color: rgba(50, 50, 70, 0.7);
    width: 100%;
    height: 40vh;
    .contains-gameSearch {
      max-width: 30%;
      align-self: center;
      justify-content: center;
      button {
        margin: 20px 40%;;
      }
      h2 {
        margin: 20px;
        color: papayawhip;
      }
    }
  }
}


//profile pages
.contains-createProfile {
  background-color: rgba(50, 50, 70, 0.7);
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .userDetails {
    height: 80%;
    width: 20%;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .chooseGame {
    height: 80%;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    h2 {
      text-align: center;
      color: papayawhip;
    }
    .chooseMyGames {
      margin: 20px;
    }
    .mygames {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      overflow-y: scroll;
      img {
        height: 150px;
        margin: 10px;
      }
    }
  }
  .comments-complete {
    height: 80%;
    width: 20%;

    button {
      border-radius: 10px;
      margin: 10px auto;
      height: 30px;
      width: 80%;

    }
    h3 {
      color: papayawhip;
      text-align: left;

    }
    .comments {
      align-self: center;
      height: 70%;
      background-color: whitesmoke;
    }
  }
}

.contains-gameForum {
  background-color: rgba(50, 50, 70, 0.7);
  height: 80vh;
  width: 80%;

}
